language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
install:
  - pip install codecov coverage pytest-cov python_coveralls

script:
  - pip install EBNFParser
  - python code_gen_test.py
  - py.test test.py test_manual.py --cov=linq
  - coverage run --source=linq test.py test_manual.py
  - coverage report

after_success:
  - codecov
  - coveralls